body {
    min-height: 100vh;
    min-width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.cell {
    border: 1px solid gray;
    height: 30px;
    width: 30px;
    flex-basis: auto;
}

.full {
    background-color: lightcoral;
}